
.navbar{display: flex;
justify-content: space-around;
align-items: center;
list-style: none;
}
.nav-contain1{
display: flex;
}
.nav-img{
height: 40px;
width: 80px;
margin-top: 25px;
}
.nav-text{
font-size: 30px;
margin-left: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.game{
color: #da24c1;
}
.nav-contain2{display: flex;}
.fa-youtube {
    background: white;
    color: rgb(219, 13, 13);
    margin-top: 25px;
    
}
.m{
    padding: 15px;
    margin: 10px;
font-size: 15px;
cursor: pointer;

}
.m:hover{
    color: rgb(18, 201, 214);
}
.navber2{
display: flex;
align-items: center;
justify-content: space-around;
margin-left: 80px;
margin-right: 80px;
background-color: rgb(240, 236, 232);
}
p{margin: 0%;
margin: 7px;
font-weight: 300;
width: 100%;
}

button{margin-top: 15px;}

.text2{
font-size: xx-large;
margin: auto;
}
.text3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 60px;
margin: auto;
color: #da24c1;
margin-top: 5px;
margin-bottom: 15px;
}
.grp-img{
width: 450px;
display: block;
}
.but1{
    color: white;
    background-color: rgb(177, 37, 130);
    padding: 5px;
   border-radius: 20px;
   height: 40px;
   width: 90px;
   border: 2px solid rgb(135, 50, 143);
   cursor: pointer;
}
.but1:hover{
    color: rgb(9, 11, 134);
}
.but2{
    color: aliceblue;
    background-color: rgb(168, 31, 31);
    padding: 5px;
   border-radius: 20px;
   height: 40px;
   width: 100px;
   border: 2px solid rgb(158, 172, 173);
    cursor: pointer;
    margin-left: 7px;
}
.but2:hover{
    color: rgb(70, 52, 67);
}
.navbar3{
display: flex;
justify-content: space-between;
align-items: center;

}
.grp-text{
margin-right: 80px;
text-align: right;

}
.last-h{
    font-size: xx-large;
    margin: auto;
    color: #da24c1;
    }
.nav3-p{
width: 400px;
margin-top: 18px;
}
.grp-img2{
height: 400px;
width: 600px;
margin-top: 20px;
margin-left: 150px;
}
.but3{

    color: aliceblue;
    background-color: rgb(233, 76, 199);
    padding: 5px;
   border-radius: 20px;
   height: 40px;
   width: 100px;
   border: 2px solid rgb(209, 118, 209);
    cursor: pointer;
    margin-bottom: 7px;
}
.but3:hover{
color: aqua;
}
.q{
    margin-top: 10px;
font-size:20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-first-contain{
text-align: center;
margin-top: 50px;
}
.main-text{
font-size: 35px;
margin: 0%;
margin-bottom: 15px;
}
.main-first-p{
font-weight: bold;
font-size: 13px;
}
.main-img-contain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40PX 40PX;
}
.main-images{
height: 300px;
width: 250px;
}
.game-pic-text{
width: 250px;
font-size: 15PX;
}
.main-mid-contain{
    display: flex;
align-items: center;
justify-content: space-between;
background-color: azure;
margin-bottom: 0%;
}
.main-textbar{
    margin-left: 400px;
}
.main-play-station{
text-align: right;
width: 210px;
margin-bottom: 10px;
font-size: 30px;

}
.main-play-station-p{
    text-align: right;
    width: 200px;
    font-size: 13px;
    margin-bottom: 80px;
}
.main-img2{
height: 450px;
width: 400px;
margin-right: 80px;
margin-top: 30px;
}
.main-img3{
    height: 220px;
position: relative;
bottom: 205px;
right: 50px;

}
.main-mid-contain2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: azure;
   }
.main-img-last1{
height: 450px;
width: 400px;
margin-left: 300px;
}
.main-add-img{
    height: 220px;
    position: relative;
    bottom: 205px;
    left: 600px; 
}
.main-play-station2{
  width: 300px;
  font-size: 30px;
    }
 .main-play-station-p2{
  width: 300px;
  margin-right: 150px;
  margin-bottom: 200px;
}
.parents{
display: flex;
background-color: #da24c1;
}
.par-p{
font-size: 15px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-left: 40px;
width: 800px;
color: azure;
 }
.par-h{
font-size: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-left: 40px;
color: azure;
}
.but4{
    color: aliceblue;
    background-color: rgb(78, 70, 76);
    padding: 5px;
   border-radius: 20px;
   height: 40px;
   width: 100px;
   border: 2px solid rgb(66, 59, 66);
    cursor: pointer;
    margin-bottom: 7px;
    margin-left: 40px;
}
.but4:hover{
color: aqua;
}
.maindiv{
    display: flex; 
}
.div-text2{
margin-top: 10px;
font-size: 14px;
color: azure;
margin-left: 40px;
}
.last-img{
height: 400px;
width: 600px;
}

.game-icon{
display: flex;
margin: 60px;

}
.ic{
    display: flex;
   height: 60px;

 border-radius: 30px;
 
}
.last{

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: azure;
    padding: 30px;
    height: 40vh;
    
    }
    .ttt{ display: flex;
    justify-content: space-around;
    align-items: center;background-color: black;
    color: azure;
    padding: 10px;
    
    }
    .nun>a {
       padding: 15px;
       margin: 10px;
       text-decoration: none;
       background-color: azure;
       border-radius: 50%;
      }
    .fa-facebook{color:#3B5998;
    background-color: azure;
    }
    .fa-google {
        background:  white;
        color:#1c9c22;
      }
      .fa-instagram{
        background-color: greenyellow;
        color: red;
      }
      .fa-youtube {
        background: white;
        color: rgb(219, 13, 13);
      }
      .nun a i{font-size: 1em;}
      .asd{
    padding: 8px;
    margin: 3px;
    border-radius: 10%;
    background-color: tomato;
      }
      .lll{
    padding: 40px;
    justify-content: center;
    text-align: center;
    height: 5vh;
    background-color: black;
    color: azure;
    font-size: small;
      }
      